@font-face {
    font-family: "FangZhengKaiTi";
    src: url("../fonts/FangZhengKaiTi.ttf");
}

html,
body {
    margin: 0;
    height: 100%;
    font-family: "FangZhengKaiTi";
    user-select: none;
    overflow: hidden;
    /* filter: grayscale(30%); */
}

* {
    margin: 0;
    padding: 0;
}

/* 背景 */
.background {
    position: absolute;

    width: 100%;
    height: 100%;

    object-fit: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    transition: all 1s ease-in-out;
    z-index: -1;
}

.container {
    display: flex;
    justify-content: center;
}

.board_title {
    width: 100%;
    margin: 20px 0px 20px;

    color: #121212;
    text-align: center;
}

.board_title h1,
.board_title h2 {
    display: inline-block;
    font-size: 60px;
}

.board_title h2 {
    font-size: 20px;
}

.board_body {
    position: relative;

    flex-flow: column;
    justify-content: start;
    align-items: stretch;

    width: 100%;
}

/* 倒计时 */
#container_timer {
    flex-flow: column;
    align-items: center;

    position: absolute;
    bottom: 0;
    right: 0%;

    width: fit-content;
    margin: 0 auto;
    background-image: linear-gradient(to right bottom, #dcdcff66, #729eceaa);
    backdrop-filter: blur(6px);
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4),
        4px 4px 4px rgba(0, 0, 0, 0.2),
        -2px -2px 4px rgba(255, 255, 255, 0.5),
        -4px -4px 4px rgba(255, 255, 255, 0.7);
}

#event_block {
    --text-shadow-color: #444;
    flex-flow: column;
    align-items: center;

    width: 100%;

    color: white;
    border-bottom: 3px #444 solid;
    transition: all 1s ease-in-out;
}

#event_block h1 {
    display: inline-block;

    padding: 16px;
    margin: 0px 50px;
    border-radius: 30px;
    box-shadow:
        5px 5px 5px rgba(0, 0, 0, 0.2) inset,
        -5px -5px 5px rgba(255, 255, 255, 0.5) inset;

    font-weight: normal;
    font-size: 70px;

    text-shadow:
        3px 3px 3px var(--text-shadow-color),
        4px 4px 3px var(--text-shadow-color),
        5px 5px 3px var(--text-shadow-color),
        6px 6px 3px var(--text-shadow-color);
}

#event_block h2 {
    flex-grow: 1;
    display: inline-block;

    margin: 5px;

    font-size: 35px;
    font-weight: normal;
    text-shadow:
        3px 3px 3px var(--text-shadow-color),
        4px 4px 3px var(--text-shadow-color),
        5px 5px 3px var(--text-shadow-color),
        6px 6px 3px var(--text-shadow-color);
}

#event_block h3 {
    display: inline-block;

    margin: 5px;

    font-size: 30px;
    font-weight: normal;
    text-shadow:
        3px 3px 3px var(--text-shadow-color),
        4px 4px 3px var(--text-shadow-color),
        5px 5px 3px var(--text-shadow-color),
        6px 6px 3px var(--text-shadow-color);
}

.cutbox {
    position: absolute;
    top: 0px;

    width: 180px;
    aspect-ratio: 1/1;

    transition: all 1.2s linear;

    z-index: -2;
}

.timer_block {
    position: relative;

    color: white;
    width: 180px;
    aspect-ratio: 1/1;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(6px);
    border-radius: 50%;
    box-shadow:
        5px 5px 5px rgba(0, 0, 0, 0.2),
        -5px -5px 5px rgba(255, 255, 255, 0.5);

    overflow: hidden;
    transform-origin: center;
    transition: all 1s ease-in-out;
}

.timer_block h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    backface-visibility: hidden;

    margin: 0;
    padding: 0;

    font-size: 75px;
    text-shadow:
        1px 1px 3px #2a2a2a,
        3px 3px 3px #2a2a2a,
        6px 6px 3px #2a2a2a;
}

.timer_block h2 {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);

    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(8px);

    font-size: 45px;
    text-align: center;
    text-shadow:
        1px 1px 3px #2a2a2a,
        3px 3px 3px #2a2a2a;
}

#timer_blocks {
    margin: 25px 0 0 0;
}

.timer_block #cutbox_day {
    background: #ff82829e;
}

.timer_block #cutbox_hour {
    background: #93ff829e;
}

.timer_block #cutbox_minute {
    background: #82c8ff9e;
}

.timer_block #cutbox_second {
    background: #00bcd49e;
}

/* 课表 */
#courses_wrapper {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);

    width: fit-content;
}

#courses_container {
    align-items: center;

    background-image: linear-gradient(to right bottom, #dcdcffaa, #729eceaa);
    backdrop-filter: blur(8px);
    border-radius: 45px;
    box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.5);

    font-size: 75px;
    text-align: center;
}

#courses {
    padding: 5px;
}

#week,
#day {
    color: white;
    font-size: 0.8em;
    transition: all 1s ease-out;
}

#day {
    width: 1em;
    font-size: 1em;
}

#week span {
    text-shadow:
        3px 3px 3px #566573,
        6px 6px 3px #CCCCFF;
}

#head-row th,
#course-row td {
    color: white;
    padding: 0px 8px;
    background-color: #566573aa;
    box-shadow: 0px 0px 8px 3px #729eceaa inset;
    white-space: nowrap;
    transition: all 1s ease-out;
}

#head-row th {
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;

    text-shadow: 3px 3px 3px #000;
}

#course-row td {
    border-bottom-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
}

/* 翻页器 */
#container_page {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 15px;
}

#container_page button {
    background-color: #729ece;
    border-radius: 5px;
}


.text_page {
    color: #729ece;
}

/* 课条 */
.container_courses_bar {
    justify-content: space-between;

    position: absolute;
    top: 35%;
    right: 0%;
    transform: translate(0%, -100%);

    background-image: linear-gradient(to right bottom, #dcdcffaa, #729eceaa);
    backdrop-filter: blur(8px);
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;

    box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.5);

    --text-shadow-color: black;
    font-size: 30px;
    color: white;
    overflow: hidden;
}

.bar_cutbox {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%);

    width: 0px;
    aspect-ratio: 1/1;
    border-radius: 50%;

    /* background-image: linear-gradient(to right, red, orange); */
    transition: all 2s linear;
}

.bar {
    padding: 16px;
    width: 550px;
}

.bar h1 {
    font-weight: normal;
    font-size: 2em;
    text-shadow:
        1px 1px 3px var(--text-shadow-color),
        4px 4px 3px var(--text-shadow-color);
}

.bar h2 {
    font-weight: normal;
    text-shadow:
        1px 1px 3px var(--text-shadow-color),
        4px 4px 3px var(--text-shadow-color);
}

/* 时钟 */
.clock {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);

    flex-flow: column;
    align-items: end;
}

.date_block {
    align-items: end;
    margin: 10px;
    color: white;
    font-size: 80px;
}

.date_block h1 {
    display: inline-block;

    font-size: 1em;
    font-weight: normal;
    text-shadow:
        1px 1px 3px #729ece,
        3px 3px 3px #729ece,
        6px 6px 3px #729ece,
        9px 9px 3px #729ece;
}

.date_block h2 {
    display: inline-block;

    font-size: 0.8em;
    font-weight: normal;
    text-shadow:
        1px 1px 3px #729ece,
        3px 3px 3px #729ece,
        6px 6px 3px #729ece,
        9px 9px 3px #729ece;
}

.time_clock {
    width: 800px;
    aspect-ratio: 10/3;
}

.time_clock .time_clock_block {
    position: relative;
    flex: 1;

    margin: 8px;

    background: radial-gradient(circle at center, #dcdcff80 50%, #729ececc);
    backdrop-filter: blur(8px);
    border-radius: 60px;

    border-radius: 10%;
    box-shadow:
        2px 2px 4px rgba(0, 0, 0, 0.4),
        4px 4px 4px rgba(0, 0, 0, 0.2),
        -2px -2px 4px rgba(255, 255, 255, 0.5),
        -4px -4px 4px rgba(255, 255, 255, 0.7);
    overflow: hidden;
}

.time_clock .splitter {
    position: relative;
    width: 64px;
    --dot-size: 30px;
}

.time_clock .splitter::before {
    content: " ";
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);

    width: var(--dot-size);
    height: var(--dot-size);
    border-radius: 50%;
    box-shadow:
        -5px -5px 5px rgba(0, 0, 0, 0.2) inset,
        5px 5px 5px rgba(255, 255, 255, 0.5) inset;
    background: radial-gradient(circle at center, #aaa, #729ece);
}

.time_clock .splitter::after {
    content: " ";
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);

    width: var(--dot-size);
    height: var(--dot-size);
    border-radius: 50%;
    box-shadow:
        -5px -5px 5px rgba(0, 0, 0, 0.2) inset,
        5px 5px 5px rgba(255, 255, 255, 0.5) inset;
    background: radial-gradient(circle at center, #aaa, #729ece);
}

.time_clock_block .time {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    transform-origin: center;

    color: white;
    font-size: 130px;
    text-shadow:
        1px 1px 3px #2a2a2a,
        3px 3px 3px #2a2a2a,
        6px 6px 3px #2a2a2a,
        9px 9px 3px #2a2a2a;
}

.time_clock_block .unit {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);

    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px);

    color: white;
    font-size: 60px;
    text-align: center;
    text-shadow:
        1px 1px 3px #2a2a2a,
        3px 3px 3px #2a2a2a,
        6px 6px 3px #2a2a2a,
        9px 9px 3px #2a2a2a;
}

/* 今日热搜 */
.container_hot_board {
    flex-flow: column;
    justify-content: start;
    align-items: center;

    position: absolute;
    bottom: 0;

    background:
        linear-gradient(to right, #729eceaa, #dcdcff66),
        radial-gradient(at center, #DCBFFF66, rgba(255, 255, 255, 0.1));
    backdrop-filter: blur(6px);
    border-top-right-radius: 30px;

    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4),
        4px 4px 4px rgba(0, 0, 0, 0.2),
        -2px -2px 4px rgba(255, 255, 255, 0.5),
        -4px -4px 4px rgba(255, 255, 255, 0.7);

    width: 40vw;
    /* height: 770px; */
}

.container_hot_board .board_title {
    color: #ff4d4d;
}

.container_hot_board .board_title img {
    width: 50px;
    aspect-ratio: 1/1;
}

.container_hot_board .board_body .mark {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    opacity: 0;

    color: #ff4d4d;
    text-align: center;
    font-size: 110px;
    z-index: 100;

    transition: all 3s ease-in-out;
}

.container_hot_board .board_body .card {
    flex: 1;

    justify-content: start;
    align-items: start;

    margin: 8px;
    padding: 8px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4),
        4px 4px 4px rgba(0, 0, 0, 0.2),
        -2px -2px 4px rgba(255, 255, 255, 0.5),
        -4px -4px 4px rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(4px);

    transition: all 3s ease-in-out;
}

.container_hot_board .board_body .card .image_wrapper {
    position: relative;

    border-radius: 30px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4),
        4px 4px 4px rgba(0, 0, 0, 0.2);

    overflow: hidden;
    z-index: 1;
}

.container_hot_board .board_body .card img {
    width: 150px;
    height: 130px;
}

.container_hot_board .board_body .card .index {
    position: absolute;
    top: 0;

    width: 45px;
    height: 40px;
    background: #f60;
    border-bottom-right-radius: 20px;

    color: white;
    text-align: center;
    font-size: 40px;
}

.container_hot_board .board_body .card .title {
    flex: 1;
    margin: 0px 8px;
    color: black;
    font-size: 60px;
    text-shadow:
        -1px -1px 1px #F3EEEA,
        1px 1px 1px #776B5D;
    z-index: 1;
}

.container_hot_board .board_body .card .hot {
    position: absolute;
    top: 75%;
    right: 0;
    transform: translate(0, -50%);

    filter: blur(1.5px);

    color: #f60;
    font-size: 35px;
    z-index: 0;
}

/* 天气预报 */
.container_weather_board {
    flex-flow: column;
    justify-content: start;
    align-items: stretch;

    position: absolute;
    bottom: 0;

    width: 50vw;
    height: 70vh;

    background: linear-gradient(to right, #6190e8aa, #a7bfe8aa);
    background-size: 100% 100%;
    border-top-right-radius: 30px;

    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4),
        4px 4px 4px rgba(0, 0, 0, 0.2),
        -2px -2px 4px rgba(255, 255, 255, 0.5),
        -4px -4px 4px rgba(255, 255, 255, 0.7);
}

.weather_chart {
    height: 100%;

    background: #eee7;
    backdrop-filter: blur(5px);

    margin: 10px;
    padding: 15px 45px;
    background-size: 100% auto;
    box-shadow: 0 0 10px #121212 inset;
    border-radius: 20px;
}

.container_weather_board .board_title {
    justify-content: start;

    color: #330033;
}

.container_weather_board .board_title h1 {
    color: #eee;

    margin: 8px;

    text-shadow:
        1px 1px 3px #2a2a2a,
        3px 3px 3px #2a2a2a,
        -1px -1px 3px #2a2a2a;

}

.container_weather_board .board_title h2 {
    color: #121212;
    font-size: 16px;
}

.container_weather_board .board_title img {
    width: 1em;
}

.container_weather_board .info_wrapper {
    flex-flow: column;
    justify-content: start;

    position: absolute;
    right: 0;

    margin: 0 10px 0 0;

    text-align: right;
}