@font-face {
    font-family: "Yu Pearl";
    src: url("/fonts/YuPearl.ttf");
}

html,
body {
    margin: 0;
    height: 100%;
    font-family: "Yu Pearl";
    user-select: none;
}

.background {
    position: absolute;

    width: 100%;
    height: 100%;

    object-fit: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    transition: all 1s ease-in-out;
    z-index: -999;
}

.trans {
    opacity: 0.75;
}

.text_page {
    color: #729ece;
}

.container {
    display: flex;
    justify-content: center;
}

.cutbox {
    position: absolute;
    z-index: -2;
    top: 0px;
    height: 250px;
    width: 250px;
    transition: all 0.9s ease-out;
}

.timer_block {
    position: relative;

    color: white;
    width: 250px;
    height: 250px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(3px);
    border-radius: 150px;
    box-shadow:
        5px 5px 5px rgba(0, 0, 0, 0.2),
        -5px -5px 5px rgba(255, 255, 255, 0.5);

    overflow: hidden;
    transition: all 1s ease-in-out;
}

.timer_block h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    margin: 0;
    padding: 0;

    font-size: 80px;
}

.timer_block h2 {
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, 0);
    
    margin: 0;
    padding: 0;
    
    font-size: 55px;
}

#courses_wrapper {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    
    width: fit-content;
}

#courses_container {
    align-items: center;
    
    background-image: linear-gradient(to top, #729ece, #CCCCFF);
    border-radius: 30px;
    box-shadow: 0px 5px 5px 5px #729ece;

    font-size: 70px;
    text-align: center;
}

#courses {
    padding: 5px;
}

#week,
#day {
    color: white;
    font-size: 0.8em;
    transition: all 1s ease-out;
}

#day {
    width: 1em;
    font-size: 1.2em;
}

#week span {
    text-shadow:
        3px 3px 3px #566573,
        -3px -3px 3px #CCCCFF;
}

#head-row th,
#course-row td {
    color: white;
    padding: 0px 8px;
    background-color: #566573;
    box-shadow: 0px 0px 8px 3px #729ece inset;
    transition: all 1s ease-out;
}

#head-row th {
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;

    text-shadow: 3px 3px 3px #000;
}

#course-row td {
    border-bottom-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
}

#container_page {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 15px;
}

#container_page button {
    background-color: #729ece;
    border-radius: 5px;
}

#container_timer {
    flex-flow: column;
    align-items: center;
    
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%, 0);

    width: fit-content;
    margin: 0 auto;
    background-image: linear-gradient(to bottom, #729ece, #dcdcff);
    border-radius: 60px;
    box-shadow: 0px 0px 30px #ccccff;
}

#event_block {
    flex-flow: column;
    align-items: center;
    
    width: fit-content;
    color: white;
}

#event_block h1 {
    display: inline-block;

    padding: 16px;
    margin: 0px 50px;
    border-radius: 30px;
    box-shadow:
        5px 5px 5px rgba(0, 0, 0, 0.2) inset,
        -5px -5px 5px rgba(255, 255, 255, 0.5) inset;

    font-weight: normal;
    font-size: 70px;
    text-shadow: 0px 0px 15px red;
}

#event_block h2 {
    display: inline-block;
    
    margin: 5px;
        
    font-size: 45px;
    font-weight: normal;
    text-shadow: 0px 0px 10px #729ece;
}

#event_block h3 {
    display: inline-block;
    
    margin: 5px;
    
    font-size: 30px;
    font-weight: normal;
    text-shadow: 0px 0px 10px #729ece;
}

#timer_blocks {
    margin: 25px 0 0 0;
}

#day_block {
    text-shadow: 1px 1px 5px red, -1px -1px 5px red;
}

#hour_block {
    text-shadow: 1px 1px 5px green, -1px -1px 5px green;
}

#minute_block {
    text-shadow: 1px 1px 5px blue, -1px -1px 5px blue;
}

#second_block {
    text-shadow: 1px 1px 5px purple, -1px -1px 5px purple;
}

#cutbox_day {
    background: #ff82825e;
}

#cutbox_hour {
    background: #93FF825e;
}

#cutbox_minute {
    background: #82C8FF5e;
}

#cutbox_second {
    background: #D782FF5e;
}

.clock {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 1000px;
    height: 250px;

    transform: translate(-50%, -50%);
}

.clock .clock_block {
    position: relative;
    flex: 1;
    
    margin: 8px;
    background: radial-gradient(circle at center, #dcdcff, #729ece);
    backdrop-filter: blur(3px);
    border-radius: 10%;
    box-shadow:
        5px 5px 5px rgba(0, 0, 0, 0.4),
        8px 8px 5px rgba(0, 0, 0, 0.2),
        -5px -5px 5px rgba(255, 255, 255, 0.5),
        -8px -8px 5px rgba(255, 255, 255, 0.7);
    overflow: hidden;
}

.clock .splitter {
    position: relative;
    width: 64px;    
    --dot-size: 40px;
}

.clock .splitter::before {
    content: " ";
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    
    width: var(--dot-size);
    height: var(--dot-size);
    border-radius: 50%;
    box-shadow:
        -5px -5px 5px rgba(0, 0, 0, 0.2) inset,
        5px 5px 5px rgba(255, 255, 255, 0.5) inset;
    background: radial-gradient(circle at center, #aaa, #729ece);
}

.clock .splitter::after {
    content: " ";
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    
    width: var(--dot-size);
    height: var(--dot-size);
    border-radius: 50%;
    box-shadow:
        -5px -5px 5px rgba(0, 0, 0, 0.2) inset,
        5px 5px 5px rgba(255, 255, 255, 0.5) inset;
    background: radial-gradient(circle at center, #aaa, #729ece);
}

.clock_block .time {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    transform-origin: center;
            
    color: white;
    font-size: 150px;
    text-shadow: 
        1px 1px 3px #729ece,
        3px 3px 3px #729ece,
        6px 6px 3px #729ece,
        9px 9px 3px #729ece;
}

.clock_block .unit {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    
    width: 100%;
    background: #6665;
    backdrop-filter: blur(3px);
    
    color: white;
    font-size: 55px;
    text-align: center;
    text-shadow: 
        1px 1px 3px #729ece,
        3px 3px 3px #729ece,
        6px 6px 3px #729ece;
}